*{
box-sizing: border-box;


}



.title{
    font-size: 70px;
    width: auto;
    height: auto;
    padding: 5px;
    border: auto;
    text-align: center;
    background-color: black;
    color: rgb(255, 185, 93);
    


}

.links{
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
    background-color: bisque;
    font-size: 30px;




}
ul{
    display: table;
    margin: 0 auto;


}
